include MANIFEST.in
include README.rst
recursive-include leonardo_theme_vavrainteriery/static *
recursive-include leonardo_theme_vavrainteriery/locale *
recursive-include leonardo_theme_vavrainteriery/templates *
