{% extends widget.get_base_template %}

{% load i18n %}

{% block content %}
<div class="css-slider-wrapper">
  <div class="slider-pagination">
  </div>
  <div class="next control">
  </div>
  <div class="previous control">
  </div>
</div>

{% for item in items %}
<div class='slider slide{{ forloop.counter }}' id="{{ item.slug }}">
  <div class="full-width">
    {% include 'widget/contextnavigation/_item.html' with item=item  %}
  </div>
</div>
<script type="text/javascript">
  // add input
  var input = "<input type='radio' name='slider' class='slide-radio{{ forloop.counter }}' {% if forloop.counter == 1 %}checked{% endif %} id='slider_{{ forloop.counter }}'>";
  $(".slider-pagination").before(input);

  // add label to pagination
  var label = "<label for='slider_{{ forloop.counter }}' class='page{{ forloop.counter }}'></label>";
  $(".css-slider-wrapper .slider-pagination").append(label);

  // add next label
  var labelNext = "<label for='slider_{{ forloop.counter }}' class='numb{{ forloop.counter }} nav-arrows'><i class='fa fa-angle-right'></i></label>";
  $(".css-slider-wrapper .next.control").append(labelNext);

  // add previous label
  var labelPre = "<label for='slider_{{ forloop.counter }}' class='numb{{ forloop.counter }} nav-arrows'><i class='fa fa-angle-left'></i></label>";
  $(".css-slider-wrapper .previous.control").append(labelPre);

  // add content
  $(".slider.slide{{ forloop.counter }}").appendTo(".css-slider-wrapper");
</script>
<script type="text/javascript">
$("body").click(function() {
  setTimeout(function(){    
    if ($('.slide-radio{{ forloop.counter }}').is(':checked')) {
      $('.nav-label{{ forloop.counter }}').css('color', '#A5D12C');
    } else {
      $('.nav-label{{ forloop.counter }}').css('color', '#FFFFFF');
    }
  }, 10);
});
</script>
{% endfor %}
{% endblock content %}
