<!DOCTYPE html>
{% load leonardo_tags feincms_page_tags applicationcontent_tags branding i18n %}
{% load analytical %}

<html>
  <head>
    {% analytical_head_top %}
    {% include "_header.html" %}
    {% analytical_head_bottom %}
  </head>
  <body id="{% block body_id %}main_content{% endblock %}" ng-app='horizon.app' ng-strict-di class="">
    <noscript>
      <div class="javascript_disabled_alert">
        {% trans "This application requires JavaScript to be enabled in your web browser." %}
      </div>
    </noscript>
    {% analytical_body_top %}
    {% include "horizon/_messages.html" %}
    <div class="navbar navbar-fixed-top">
      <div class="{{ feincms_page.get_layout_class }}">
        {% feincms_render_region feincms_page "header" request %}
      </div>
    </div>
    <div class="container-fluid" style="padding: 0px;">
      {% feincms_render_region feincms_page "col3" request %}
      {% render_region_tools feincms_page "col3" request %}
      {% block body_main %}{% endblock %}
    </div>
    <footer>
      {% feincms_render_region feincms_page "footer" request %}
    </footer>
    <script type="text/javascript">
    // set height to fullscreen backgrounds
    $(function() {
      setTimeout(function(){
        var footerHeight = $("footer").height() + 15;
        var heightHlaf = window.innerHeight/2;
        var insertSizeBg = heightHlaf + "px, cover";
        $(".slide2").css("background-position", "100px bottom,center")
        $(".slide2").css("background-size", insertSizeBg)
        $(".leonardo-widget.contextnavigation-base-default").css("height",window.innerHeight - footerHeight + "px");
        var preview_img_width = $(".preview-img-swipe").width();
        $(".preview-inner-swipe").css("width", preview_img_width);
        window.onresize = function(event) {
          var footerHeight = $("footer").height() + 15;
          var heightHlaf = window.innerHeight/2;
          var insertSizeBg = heightHlaf + "px, cover";
          $(".slide2").css("background-size", insertSizeBg)
          $(".leonardo-widget.contextnavigation-base-default").css("height",window.innerHeight - footerHeight + "px");
          var height1 = $(".navbar.navbar-fixed-top").height();
          var height2 = $("footer").height();
          var height3 = $(".slider-pagination").height();
          var height4 = $(".kkadavymodule-base-default").height();
          var sum_heights = height1+height2+height3+height4;
          var window_height = window.innerHeight;
          var final_height = (window_height - sum_heights)-120;
          $(".map-vavra-interiery").css("height", final_height);
          var preview_img_width = $(".preview-img-swipe").width();
          $(".preview-inner-swipe").css("width", preview_img_width);
        };
        document.getElementById("toolbar-video").play();
      }, 300);
      var height1 = $(".navbar.navbar-fixed-top").height();
      var height2 = $("footer").height();
      var height3 = $(".slider-pagination").height();
      var height4 = $(".kkadavymodule-base-default").height();
      var sum_heights = height1+height2+height3+height4;
      var window_height = window.innerHeight;
      var final_height = (window_height - sum_heights)-120;
      $(".map-vavra-interiery").css("height", final_height);
    });
    </script>
    {% include "horizon/_scripts.html" %}
    {% feincms_render_region feincms_page "helper" request %}
    <div id="modal_wrapper"></div>
    {% analytical_body_bottom %}
  </body>
</html>
